---
interface Props {
	project: {
		title: string;
		description: string;
		img: string;
		alt: string;
		href: string;
		codeHref: string;
	};
}

const { project } = Astro.props;
---

<article>
	<h3>{project.title}</h3>
	<p>{project.description}</p>

	<figure>
		<img src={project.img} alt={project.alt} />
	</figure>
	<div>
		<a href={project.href}>Live</a>
		<a href={project.codeHref}>Code</a>
	</div>
</article>

<style>
	article {
		border-style: solid;
		border-color: var(--orange);
		border-radius: 20px;
		margin-top: 50px;
		width: 50%;
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 0.2s;
	}

	article img {
		transition:
			transform 0.3s ease,
			box-shadow 0.3s ease;
	}

	article:hover {
		transform: scale(1.03);
	}

	article:hover img {
		box-shadow: 20px -16px var(--orange);
		transform: scale(1.01);
	}

	p {
		width: 70%;
		text-align: center;
	}

	img {
		width: 100%;
		border-radius: 10px;
	}

	h3,
	p {
		color: var(--font);
	}

	div > a {
		border-radius: var(--background);
		color: var(--orange);
		border-style: solid;
		border-color: var(--oranges);
		border-radius: 10px;
		width: 100px;
		height: 28px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		transition: background-color 1s;
	}

	div > a:hover {
		background-color: var(--orange);
		color: var(--background);
	}
	div {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		width: 100%;
		gap: 40px;
	}

	@media screen and (max-width: 904px) {
		article {
			width: 100%;
		}
	}
</style>
